html, body {
  font-family: Verdana,sans-serif;
}

/* remove spinners: https://stackoverflow.com/a/22559163/5818631 */
input[type='number'] {
  -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
    width: 2em;
    margin: 0.2em 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 0.1em solid grey;
    text-align: center;
    transition: 0.2s;
    outline: none;
}
input[type=number]:focus {
    border-bottom: 0.15em solid black;
}

button {
  background-color: #e7e7e7;
  color: black;
  border: none;
  padding: 0.85em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0.1em 0.3em;
  cursor: pointer;
}
button:hover {
  background-color: #d7d7d7;
}

input.color {
  outline: none;
  transition: 0.2s;
  font-size: 1em;
  width: 5em;
  text-align: center;
}
input.color:focus {
  border-width: 0.3em !important;
  font-size: 1em;
}

/* Menu - Derived from:
 *  https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_active
 */
.menu-actions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7e7e7;
  color: black;
}

.menu-actions > li {
  float: left;
  display: block;
  text-align: center;
  padding: 0.85em 0.9em;
  text-decoration: none;
}

.menu-actions > li:not(.menu-separator) {
  cursor: pointer;
}

.menu-actions > li:hover:not(.active):not(.menu-separator) {
  background-color: #d7d7d7;
}

.menu-actions > .active {
  background-color: #002b36;
  color: white;
}

.submenu > span:not(.active) {
  display: none;
}
/** End Menu */

.hidden {
  display: none;
}
